*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0%;
}

body {
  font-family: "Segoe WP N", sans-serif;
  font-size: 17px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 300;
}

.container {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px 15px 155px;
  width: 100%;
}

.header__menu-item {
  text-decoration: none;
  font-size: 19px;
  line-height: 36px;
  color: #565656;
  font-weight: 300;
  margin-right: 40px;
  position: relative;
}

.header__menu-item:last-child {
  margin-right: 15px;
}

.header__menu-item::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 1px;
  height: 20px;
  top: 5px;
  right: -22px;
}

.header__menu-item:last-child::after {
  display: none;
}

.banner{
  min-height: 540px;
  background: linear-gradient(90deg, rgba(0,116,124,1) 27%, rgba(0,116,124,1) 27%, rgba(15,196,175,1) 100%);
}

.banner__inner {
  width: 100%;
  display: flex;
}
.banner__image-box{
  text-align: center;
  height: auto;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 55px 0 30px 285px;
}

.banner__picture-item {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}
.banner__picture-item--second{
  opacity: 0.5;
}
.banner__picture-item--third{
  opacity: 0.3;
}
.banner__content {
  display: flex;
  flex-direction: column;
  padding: 170px 0 100px 85px;
}
.banner__content-app {
  display: flex;
  margin-bottom: 50px;
}
.banner__content-app-text {
  margin-left: 10px;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Segoe WP N";
}
.title {
  font-size: 39px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Segoe WP N";
}
.banner__text {
  margin-bottom: 25px;
}

.button {
  width: 175px;
  background-color: #54d3c3;
  display: flex;
  align-items: center;
  color: white;
  border: none;
}
.button__img {
  padding: 5px 10px;
  background-color: #259d8e;
}

.button-text {
  text-align: center;
  width: 100%;
}

.banner {
  height: 100%;
  background: rgb(0,116,125);
  background: linear-gradient(90deg, rgba(0,116,125,1) 22%, rgba(16,203,179,1) 54%, rgba(16,203,179,1) 100%);
}

.banner__content {
  width: 100%;
}

.banner__slider {
  display: flex;
  height: 120px;
  justify-content: flex-end;
  align-items: center;
}

.banner__slider-item {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #059391;
  height: 100%;
}

.banner__slider-item-second {
  background-color: #038688;
}

.banner__slider-item-third {
  background-color: #017d82;
  position: relative;
}

.banner__slider-item-third::after {
  content: "";
  position: absolute;
  border-left: 8px solid transparent;
  border-top: 15px solid #017d82;
  border-right: 8px solid transparent;
  bottom: -15px;
}
.about {
  text-align: center;
  margin-bottom: 125px;
}

.about__title {
  font-size: 41px;
  line-height: 36px;
  color: #636363;
  font-weight: 300;
  font-family: "Segoe WP N";
  padding: 40px 0;
}

.about__text {
  font-size: 15px;
  line-height: 22px;
  color: #9f9f9f;
  font-weight: 400;
  font-family: "Open Sans";
  margin-bottom: 40px;
}
.about__image {
  display: flex;
  justify-content: center;
  color: black;
  z-index: 1;
  height: 415px;
  width: 100%;
  position: relative;
  font-size: 88px;
  line-height: 54px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'New Athena Unicode', sans-serif;                                        
  text-align: center;
  z-index: 10;
}

.about__image-background::after{
    content:'';
    width: 1px;
    height: 170px;
    background: #017d82;
    position: absolute;
    transform: rotate(50deg);
    right: -37px;
    top: -54px;
}

.about__image-background::before{
  content:'';
  width: 1px;
  height: 170px;
  background: #017d82;
  position: absolute;
  transform: rotate(50deg);
  bottom: -69px;
  left: -6px;
}

.about__image-text::after{
  content: '';
  width: 1px;
  height: 500px;
  background: #017d82;
  position: absolute;
  transform: rotate(50deg);
  bottom: -162px;
  left: 166px;
  z-index: -1;
}


.about__image-background {
  background: url(../images/app.png) no-repeat;
  width: 391px;
  justify-content: center;
  display: flex;
  height: 100%;
  position: relative;
}
.about__image-text {
  position: absolute;
  background-color: transparent;
  top: 260px;
  font-size: 54px;
}

.about__image-text--bold {
  position: absolute;
  top: 170px;
}

.about__image-phone {
  position: absolute;
  top: 30px;
}

.plugins{
  min-height: 540px;
  background: rgb(0,116,125);
  background: linear-gradient(90deg, rgba(0,116,125,1) 22%, rgba(16,203,179,1) 54%, rgba(16,203,179,1) 100%);
}
.plugins__inner {
  display: flex;
  justify-content: space-between;
}
.plugins__items {
  padding: 30px 68px;
}
.plugins__items-first {
  background-color: #01646c;
}

.plugins__items-second {
  background-color: #097b84;
}

.plugins__items-third {
  background-color: #118f99;
}

.plugins__items-fourth {
  background-color: #1da0aa;
}

.plugins__items-five {
  background-color: #29b7c2;
}

.plugins__items-six {
  background-color: #3ccad5;
}

.banner--second{
  background: none;
}

.banner .banner__inner--second{
 padding: 0;
 align-items: center;
}

.banner__image--second {
  width: 100%;
  height: 330px;
}

.discount__inner {
  display: flex;
  width: 100%;
}
.discount__text-box {
  flex: 0 0 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}
.discount__num {
  font-size: 200px;
  line-height: 93px;
  color: #49d7b0;
  font-weight: 800;
  font-family: 'Segoe WP', sans-serif;
  text-align: center;
}

.discount__text {
  font-size: 150px;
  line-height: 150px;
  color: #49d7b0;
  font-weight: 400;
  font-family: 'Segoe WP', sans-serif;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  justify-content: center;
}

.discount__arrows {
  background-color: #49d7af;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer{
  border-top: 1px solid grey;
}
.footer__text {
  font-size: 23px;
  line-height: 36px;
  color: #989898;
  font-weight: 300;
  font-family: "Segoe WP N";
  text-align: center;
  padding: 40px 0 ;
}
